<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl as vm">
<head>
    <title ng-bind="vm.pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/pouchdb/3.0.6/pouchdb.min.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% vendorScripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <!-- compiled JavaScript --><% appScripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                ngbp
                <small>
                    <a href="http://github.com/ngbp/ngbp/blob/v<%= version %>-release/CHANGELOG.md">
                        v<%= version %>
                    </a>
                </small>
            </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="about">
                        <i class="fa fa-info-circle"></i>
                        What is it?
                    </a>
                </li>
                <li access-level="user" ui-sref-active="active">
                    <a href ui-sref="admin">
                        <i class="fa fa-book"></i>
                        Admin
                    </a>
                </li>
                <li access-level="user" ui-sref-active="active">
                    <a href ui-sref="user">
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                </li>

                <li access-level="public"><a href="/live">Live</a></li>

                <li access-level="anon"><a href="/login">Log in</a></li>
                <li access-level="anon"><a href="/register">Register</a></li>
                <li access-level="user"><a href="/home" ng-click="logout()">Log out</a></li>
                <li access-level="user"><a><strong>{{ user.name }}</strong></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="alertBox" class="alert alert-danger" data-ng-show="error">
        <button type="button" class="close" ng-click="clearError()"> &times;</button>
        <span ng-bind="error"></span>
    </div>
</div>
<div class="container" ui-view="main"></div>

<toaster-container></toaster-container>

</body>
</html>
